{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-wrap" style="background-image: url({% static 'pages/images/flatwhite.png' %});" data-stellar-background-ratio="0.5">
	<section class="ftco-section ftco-no-pb">
			<h3>Sign Up</h3>
		</section>
		{% if messages %}
	    <div class="alert alert-danger" role="alert">
	        {% for message in messages %}
	          {{ message }}
	        {% endfor %}
	    </div>
	    {% endif %}
	    {% if form.errors %}
	    <p>There was an error with your form...</p>
	    {% endif %}
		<form action="" method="POST">
      	{% csrf_token %}
      	{{ form.as_p }}
      	<br>
		<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<br>
{% endblock %}